.section-about {
  /* min-height: 400px; */

  padding: 0 20px 20px;
}

.section-about__title {
  padding: 20px 0;

  border-bottom: 1px solid #a46738;

  text-align: center;
}

.section-about__content-container {
  max-width: 800px;

  margin: 20px auto 0;
}

.section-about__text {
  margin: 0 0 10px 0;

  text-indent: 1em;
}

.section-about__text:last-child {
  margin: 0;
}
